@require '../../atoms/borders/mixins'
@require '../../atoms/colors/brand'
@require '../../atoms/depth/mixins'

.boxed-media
    margin-left: 1rem
    margin-right: 1rem
    round-border()
    border(neutral, 700)
    &:hover
        border(primary, 200)

    &.with-info
        cursor: pointer
        position: relative
        &:hover:after
            border(primary, 200)

    &.with-info:after
        cursor: pointer
        content: "?"
        display: block
        text-align: center
        line-height: 2rem
        font-weight: 600
        width: 2rem
        height: 2rem
        border(neutral, 700)
        background-color: $primary-700
        color: $primary-200
        position: absolute
        right: -1rem
        top: -1rem
