@require '../../principles/colors'
@require '../../principles/padding-mixins'

.drop-area
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    flex-grow: 1
    justify-content: space-around
    align-items: center
    paddingAll()
    border: 3px dashed $background700
    @media (min-width: 1280px) and (max-width: 1600px)
        // useable width: 672px
        height: 504px
    @media (min-width: 1600px)
        // useable width: 864px
        height: 648px
