@require '../../principles/colors'
@require '../../principles/padding-mixins'

.drop-area
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    flex-grow: 1
    justify-content: center
    align-items: center
    paddingAll()
