@require '../../atoms/colors/messaging'
@require '../../atoms/buttons/button'
@require '../../atoms/borders/mixins'
@require '../layout/mixins'

.error
    row()
    round-border()
    border(error, 700)
    stretch-center()
    color: $error
    overflow: hidden
    flex-wrap: nowrap
    padding: 0.5rem
    margin-top: 0.5rem
    margin-bottom: 0.5rem
    .msg
        flex-basis: 95%
    .close
        flex-basis: 5%
        flex-shrink:0
        center-center()
        cursor: pointer
