$background700 = #3C3252
$background500 = #C5C2CC
$background300 = #EDEBF1
$background200 = #FFFFFF

// $primary = #D62F52
$primary = #E13046
// $primary = #15AD9F
$success = #FFFFFF
$warning = #FFAA00
$error = #DE345E
