$background700 = #2E3748
$background600 = #525A6E
$background500 = #737786
$background300 = #DAE0EA
$background200 = #EAF0F9

$primary = #00AAFF
$success = #00AAFF
$warning = #FFAA00
$error = #DE345E
