noGutter()
    margin: 0
    box-sizing: border-box

gutterHorizontalSmall()
    margin-left: 8px
    margin-right: 8px
    box-sizing: border-box

gutterHorizontal()
    margin-left: 16px
    margin-right: 16px
    box-sizing: border-box

gutterVerticalSmall()
    margin-top: 8px
    margin-bottom: 8px
    box-sizing: border-box

gutterVertical()
    margin-top: 16px
    margin-bottom: 16px
    box-sizing: border-box

gutterAll()
    margin: 16px
    box-sizing: border-box

gutterBottomLarge()
    margin-bottom: 32px
    box-sizing: border-box
