noPadding()
    padding 0
    box-sizing border-box

paddingHorizontal()
    padding-left 16px
    padding-right 16px
    box-sizing border-box

paddingVerticalVerySmall()
    padding-top 4px
    padding-bottom 4px
    box-sizing border-box

paddingVerticalSmall()
    padding-top 8px
    padding-bottom 8px
    box-sizing border-box

paddingVertical()
    padding-top 16px
    padding-bottom 16px
    box-sizing border-box

paddingRight()
    padding-right 16px
    box-sizing border-box

paddingSmall()
    padding 8px
    box-sizing border-box

paddingAll()
    padding 16px
    box-sizing border-box
