noPadding()
    padding 0
    box-sizing border-box

paddingHorizontalVerySmall()
    padding-left 4px
    padding-right 4px
    box-sizing border-box

paddingHorizontalSmall()
    padding-left 8px
    padding-right 8px
    box-sizing border-box

paddingHorizontal()
    padding-left 16px
    padding-right 16px
    box-sizing border-box

paddingVerticalVerySmall()
    padding-top 4px
    padding-bottom 4px
    box-sizing border-box

paddingVerticalSmall()
    padding-top 7px
    padding-bottom 9px
    box-sizing border-box

paddingVertical()
    padding-top 15px
    padding-bottom 17px
    box-sizing border-box

paddingRight()
    padding-right 16px
    box-sizing border-box

paddingSmall()
    padding 7px 8px 9px 8px
    box-sizing border-box

paddingAll()
    padding 15px 16px 17px 16px
    box-sizing border-box
