@require '../atoms/colors/brand'
@require '../atoms/fonts/source-sans-pro'
@require './layout/mixins'


body
    SourceSansPro(200)
    background-color: $primary-700
    color: $primary-200
    margin 0
    width 100%
    height 100%
    col()
    stretch-start()

div
    col()
    stretch-start()
