@require '../../atoms/colors/brand'
@require '../../atoms/images/logo'
@require '../../atoms/borders/mixins'
@require '../../molecules/layout/mixins'
@require '../../molecules/navigation/primary'

$footerHeight = 5

.footer
    margin-top: $footerHeight rem
    row()
    center-around()
    border-top()
    height: $footerHeight rem
