@require '../../principles/colors'
@require '../../principles/gutter-mixins'
@require '../../principles/padding-mixins'

.input-field
    display: flex
    flex-direction: row
    min-height: 36px
    max-height: 36px
    input
        padding: 0
        margin: 0
        appearance: inherit
        border: 2px solid $primary
        flex-grow:3
        font-size: 1rem
        font-weight: 400
        font-family: inherit
        paddingHorizontal()
        background-color: $background700
        color: $background200
        &:focus
            border: 2px solid $primary
            outline:none
    .input-suffix
        user-select: none
        font-size: 0.75rem;
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        outline: none
        border: 0
        padding: 0
        background-color: $primary
        color: $background200
        width: 36px
        min-width: 36px
        max-width: 36px
        cursor: pointer

    .input-prefix
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0
        border: 0
        flex-grow: 0
        user-select: none
        paddingHorizontalSmall()
        background-color: $primary
        color: $background200
        &:focus
            outline: none

    .select
        font-weight: 400
        margin: 0
        display: flex
        flex-grow: 0
        min-width: 128px
        flex-direction: column
        align-items: stretch
        > .header
            text-align: center
            display: flex
            flex-direction: column
            align-items: stretch
            justify-content: center
            min-height: 36px
            max-height: 36px
            border: 0
            flex-grow: 0
            flex-shrink: 1
            font-size: 1rem
            noPadding()
            paddingHorizontal()
            color: $background200
            background-color: $primary
            &.placeholder
                text-align: center
                color: $background200
            &:focus
                border: 1px solid $primary
                outline:none

            > .arrow
                fill: $background200
                &:hover
                    fill: $primary

        > .content
            width: 100%
            flex-shrink: 0
            z-index: 1
            display: none
            noPadding()
            background-color: $background200
            color: $background700
            border-left: 1px solid $background700
            border-right: 1px solid $background700
            border-bottom: 1px solid $background700

            .option
                display: flex
                flex-direction: row
                justify-content: flex-start
                align-items: center
                paddingHorizontal()
                paddingVerticalVerySmall()
                min-height: 36px
                max-height: 36px
                cursor: pointer
                &:hover
                    background-color: $background300


        &.active > .content
            display: flex
            flex-direction: column

    &.discreet
        height: 36px
        display: flex
        flex-direction: row
        justify-content: flex-end
        align-items: center
        input
            flex-grow: 0
            text-align: left
            height: inherit
            appearance: inherit
            padding: 0
            margin: 0
            border: none
            font-size: 1rem
            font-family: inherit
            background-color: $background200
            color: $background700
        .input-suffix
            user-select: none
            background-color: $background200
            width: 36px
            height: inherit
            &:focus
                outline: none

.discreet-select
    .input-prefix
        background-color: $background700
    .select > .header
        background-color: $background700

::-webkit-input-placeholder
    color: $background500

:-moz-placeholder
   color: $background500
   opacity:  1

::-moz-placeholder
   color: $background500
   opacity:  1

:-ms-input-placeholder
   color: $background500


/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
    .input-field select {
        background:none;
        padding: 5px;
    }
}
