@require '../../principles/colors'
@require '../../principles/padding-mixins'
@require '../../principles/gutter-mixins'

.snippet-container
    width: 100%
    min-width: 100%
    flex-grow: 0
    flex-shrink: 0
    background-color: $background700
    color: $background200
    & > *
        position: relative
        &:hover .snippet-copy-button
            display: flex

.snippet
    height: 176px
    max-height: 50vh
    @media (max-width: 600px)
        height:auto
    paddingAll()
    overflow: scroll
    .snippet-action
        flex-shrink: 0
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
        background-color: $primary
        fill: $background200
        color: $background200
        paddingSmall()
        > svg
            gutterHorizontalSmall()

.snippet-copy-button
    display: none
    position: absolute
    right: 0px
    top: 0px
    fill: $background700
    cursor: pointer
    paddingSmall()
    background-color: $background200
    opacity: 0.5
    &:hover
        opacity: 1
    &.feedback
        fill: $primary
        transition: fill 0.2s ease-in-out
