@require '../../atoms/colors/neutral'
@require '../../atoms/colors/brand'

.editable
    input[type="text"]
        background-color: rgba(0,0,0,0)
        border: 0
        color: $primary-200
        font-size: 1rem
        font-weight: 200
        &:focus
            color: $primary-200
    .action
        margin-left: 0.5rem
