@require '../../atoms/forms/minified-text-area'
@require '../../atoms/buttons/button'
@require '../../atoms/borders/mixins'
@require '../layout/mixins'

.text-area-with-suffix
    margin-top: 3rem
    row()
    round-border()
    border(neutral, 700)
    stretch-center()
    overflow: hidden
    flex-wrap: nowrap
    .minified-text-area
        flex-basis: 95%
    .button-small
        flex-basis: 5%
        flex-shrink:0
