@require '../../atoms/colors/brand'
@require '../../atoms/colors/neutral'

.snippet
    align-items: center
    overflow: scroll
    pre
        word-break: break-all;
        white-space: pre-wrap;
        word-wrap: break-word;
    margin: 0.5rem
    padding: 1rem
    padding-left: 2rem
    padding-right: 2rem
    background-color: $primary-200
    color: $primary-700
    min-height: 7rem
    font-weight: 400
    box-sizing: border-box
    textarea
        min-height: 7rem
        width: 100%
        max-width: 100%
        box-sizing: border-box
