.flow-warning
    background-color: #ea6e30
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: stretch
    padding-bottom: 16px
    .warning-header
        flex-direction: row
        justify-content: space-between
        align-items: center

        .white
            fill: #ffffff
            padding: 16px
            flex-shrink: 0
        .warning-content
            color: #ffffff
            display: flex
            flex-direction: column
            padding-right: 16px
            margin-top: 8px
            margin-bottom: 8px
            justify-content: flex-start
            align-items: flex-start
            > *
                padding-top: 8px
                padding-bottom: 8px
    .warning-button
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
