$brand-gray = #838383
$brand-gray-border = #c8c8c8
$brand-gray-light = #b6b6b6
$brand-gray-lighter = #f0f0f0
$brand-gray-dark = #f0f0f0
// $brand-blue = #1c77ba
$brand-blue = #00aaff
$brand-blue-text = #3DBEFF
$brand-black = #1D2330
$brand-success-color = #2f9a0d
$brand-warning-color = #e26700
$brand-error-color = #FF6477

$brand-darkmode-main = #2F3E46
$brand-darkmode-secondary = #1D2A31
$brand-darkmode-border = #7B858A
$brand-darkmode-text = #fff
$brand-darkmode-link = $brand-darkmode-text
$brand-body-bg = $brand-darkmode-main
$brand-header-bg = $brand-darkmode-secondary

$screen-xs-min = 480px
$screen-sm-min = 768px
$screen-md-min = 992px
$screen-lg-min = 1200px

$font-avenir-next = 'Avenir Next', 'myriad-pro', 'Helvetica Neue', 'Helvetica', sans-serif
$font-source-sans = 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif
