
@media (min-width: 960px)
    #preview .oic
        padding-left: 0.5rem
        padding-right: 0.5rem
        box-sizing: border-box
        width: 100%
        max-width: 49rem
        height: 36rem
