.oic-view .oic-view-content.oic-swagger-preview
    overflow: scroll
    padding-left: 32px
    padding-right: 8px
    padding-top: 8px
    padding-bottom: 8px
    display: block
    text-align: left
    box-sizing: border-box

.oic-view.oic-swagger-view
    position: relative
    &:before
        content: ''
        width: 0
        height: calc(100% - 48px)
        position: absolute
        border: 1px solid darken(#F3F5F6, 5%)
        top: 0
        left 48px
