.oic-view
    display: flex
    flex-direction: column
    flex-grow: 1
    flex-shrink: 1
    .oic-view-content
        flex-grow: 1
        flex-shrink: 1
    .oic-action-bar
        border-top: 2px solid #D8D6DD
        height: 48px
        flex-shrink: 0
        flex-grow: 0
        display: flex
        flex-direction: row
        justify-content: center
        box-sizing: border-box
        padding-left: 8px
        padding-right: 8px
        .oic-action-button
            max-width: calc(50% - 16px)
            cursor: pointer
            font-size: 0.9em
            margin: 8px
            background-color: #D42C69
            color: #ffffff
            padding: 8px
            box-sizing: border-box
            flex-grow: 1
            flex-shrink: 1
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center

    &.oic-progress-view
        justify-content: center
        align-items: center
        color: rgba(61, 51, 85, 0.8)
        .oic-progress-bar
            margin-top: 16px
            margin-bottom: 16px
            flex-grow: 0
            width: 400px
            height: 8px
            border-radius: 4px
            border: 1px solid #D8D6DD
            > div
                height: inherit;
                flex-grow: 0
                flex-shrink: 0
                background-color: #D8D6DD

    &.oic-error-view
        justify-content: center
        align-items: center
        .oic-error-icon
            fill: #D8D6DD
            width: 128px
            height: 128px
        .oic-error-info
            color: #3D3355
            flex-grow: 0
            flex-shrink: 0
            height: 128px
