@require '../principles/border-mixins'
@require '../principles/layout-mixins'
@require '../principles/padding-mixins'
@require '../principles/colors'

@border-vulgar()
    @border-vis(true, true, true, true)
    @border-dashed()
    @border-lg()
    @border-round()
    @border-color($neutral-700)
    &.active
        @border-color($primary-200)

.drag-box
    col(false)
    children(center, space-around)
    @vulgar()
    min-height: 30rem
    pad-lg(true, true)
