@require '../../principles/colors'

.nav
    ul
        margin: 0px
        list-style-type: none
        display flex
        flex-direction row
        align-items: stretch
        li
            text-align: center
            flex-grow: 1
            height: 100%
            padding: 16px
            box-sizing: border-box
            cursor: pointer
            display: flex
            flex-direction: column
            flex-wrap: nowrap
            justify-content: center
            a
                text-decoration: none
                color: $background200

            &:hover
                padding-bottom: 13px
                border-bottom: 3px solid $primary
