@require '../../principles/colors'

.img
    &.dark
        fill: $background700
    &.white
        fill: $background200
    &.success
        fill: $success
    &.error
        fill: $error
    &.warning
        fill: $warning
