pad(size, horizontal, vertical)
    if (horizontal)
        padding-left: size rem
        padding-right: size rem
    if (vertical)
        padding-top: size rem
        padding-bottom: size rem

pad-sm(horizontal, vertical)
    pad(0.5, horizontal, vertical)

pad-med(horizontal, vertical)
    pad(0.5, horizontal, vertical)

pad-lg(horizontal, vertical)
    pad(0.5, horizontal, vertical)
