@require '../../principles/gutter-mixins'
@require '../../principles/padding-mixins'

.drop-helper
    max-height: 96px
    min-height: 96px
    text-align: center

    display: flex
    flex-direction: column
    justify-content: flex-start

    h4
        margin: 0
        font-size: 1.5rem

.uploader
    z-index: 1
    img
        user-select: none
    .support
        display: block
        font-size: 0.75rem

.uploader .row
    display: flex
    flex-direction: row
    gutterVerticalSmall()
