@require '../../principles/colors'
@require '../../principles/padding-mixins'
@require '../../principles/gutter-mixins'

.snippet
    paddingAll()
    background-color: $background300
    gutterBottomLarge()
