@require '../depth/mixins'

.minified-text-area
    padding: 0.5rem
    color: inherit
    background: inherit
    font-size: inherit
    resize: vertical
    border:0
    inset-depth(3)
    overflow: scroll
    &.small
        height: 1rem
    &.medium
        height: 8rem
    &.large
        height: 30rem
