@require '../../atoms/depth/mixins'
@require '../../atoms/borders/mixins'
@require '../../molecules/layout/mixins'

.drag-box
    col()
    center-around()
    dashed-border()
    min-height: 30rem
    padding: 2rem

    &.active
        border-color: #eceff1
