@require '../../atoms/depth/mixins'
@require '../../atoms/borders/mixins'
@require '../../molecules/layout/mixins'

.drag-box
    inset-depth(3)
    round-border()
    col()
    center-around()
    border(neutral, 700)
    min-height: 30rem
    padding: 2rem
