@require '../../principles/colors'
@require '../../principles/padding-mixins'
@require '../../principles/gutter-mixins'

.oic-demo
    gutterVerticalSmall()
    paddingSmall()
    max-height: 48px
    min-height: 48px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    cursor: pointer
    color: $background200;
