.block-15
    flex-basis: 15%

.block-20
    flex-basis: 20%

@media (max-width: 600px)
    .block-15
    .block-20
        flex-basis: 100%

@media (min-width: 600px) and (max-width: 960px)
    .block-15
    .block-20
        flex-basis: 50%
