row()
    display flex
    flex-direction row
    flex-wrap: wrap

col()
    display flex
    flex-direction column
    flex-wrap: wrap

block(value)
    flex-basis: (value)%

stretch-center()
    align-items stretch
    justify-content center

center-between()
    align-items center
    justify-content space-between

center-around()
    align-items center
    justify-content space-around

stretch-between()
    align-items stretch
    justify-content space-between

stretch-start()
    align-items stretch
    justify-content flex-start
