@require '../../atoms/colors/brand'

.nav
    ul
        list-style-type: none
        display flex
        flex-direction row
        li
            text-align: center
            flex-grow: 1
            padding-top: 1rem
            padding-bottom: 0.5rem
            margin-left: 1rem
            margin-right: 1rem
            cursor: pointer
            a
                text-decoration: none
                color: $primary-200

            &:hover
                border-bottom: 1px solid $primary-200
