@require '../principles/colors'
@require '../principles/font-mixins'
@require '../principles/padding-mixins'
@require '../principles/gutter-mixins'

html
body
    Lato()
    background-color: $background200
    color: $background700
    margin: 0
    width: 100%
    height: 100%
    display flex
    flex-direction column
    flex-wrap wrap
    align-items stretch
    justify-content flex-start

div
    flex-grow: 1
    display flex
    flex-direction column
    flex-wrap nowrap
    align-items stretch
    justify-content flex-start
    .fill
        height: inherit

    .block
        display: block

.row
    paddingVerticalSmall()
    display: flex
    flex-direction: row
    &.guttered-row
        gutterHorizontal()

.equal-split > *
        flex-basis: 0
        flex-grow: 1
        flex-shrink: 0

#root
    height: inherit

a
    cursor: pointer
    text-decoration: underline
    &:hover
        color: $primary
