@require '../../principles/colors'
@require '../../principles/border-mixins'
@require '../../principles/padding-mixins'

clearButtonClass()
    color: inherit
    padding: inherit
    border-width: inherit
    border-style: inherit
    border-color:inherit
    align-items: inherit
    font: inherit

.button-small
    clearButtonClass()
    display: flex
    flex-direction: column
    justify-content: center
    background-color: $neutral-700
    text-align: center
    cursor: pointer

.button
    clearButtonClass()
    display: flex
    flex-direction: column
    justify-content: center
    background-color: $neutral-700
    text-align: center
    cursor: pointer
    pad-sm(true, true)
    border-round()

.oic-button
    pad-lg(true, false)
